*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 100%;
  max-width: 60px;
  min-height: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search button img {
  width: 60%;
  max-width: 25px;
  height: auto;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  color: red;
  display: none;
}

.weather-icon, 
.col img {
  max-width: 100%;
  height: auto;
}

 @media (max-width: 480px) {

  .card {
    margin: 50px auto 0;
    padding: 25px 20px;
    border-radius: 15px;
  }

  .search {
    gap: 10px;
  }

  .search input {
    flex: 1;
    height: 50px;
    font-size: 16px;
    padding: 8px 20px;
  }

  .search button {
    width: 50px;
    height: 50px;
  }

  .weather-icon {
    width: 120px;
  }

  .weather h1 {
    font-size: 60px;
  }

  .weather h2 {
    font-size: 28px;
  }

  .details {
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .humidity, .wind {
    font-size: 22px;
  }

 }

 @media (max-width: 768px) {
  .card {
    margin-top: 80px;
    padding: 30px 25px;
  }

  .weather h1 {
    font-size: 65px;
  }

  .weather h2 {
    font-size: 35px;
  }
 }
